{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-duplicate-named-capturing-groups-regex",
    "@babel/plugin-proposal-throw-expressions"]
}